/* Blatantly stealing much of this color palette from Atom. */
html {
  background-color: #21252b; /* dark grey */
  color: #abb2bf; /* off-white */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #56b6c2; /* light blue */
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #c678dd; /* light purple */
}

a.main-link {
  color: #98c379; /* light green */
  font-weight: bold;
}

span.smaller {
  font-size: 0.8em;
}

h1.header {
  color: #d7dae0; /* brighter off-white */
  font-size: 3em;
}
h2.subheader {
  color: #d19a66; /* light orange */
}
h2.section-header {
  margin-top: 2em;
  margin-bottom: 0.3em;
  color: #e06c75; /* red */
}
hr.section-rule {
  border-color: #e06c75;
}
h3 {
  font-size: 1.25em;
}
p.section-intro {
  margin-bottom: 2em;
  font-style: italic;
  color: #d7dae0; /* brighter off-white */
}
h3.item-header {
  color: #d19a66; /* light orange */
  margin-top: 1.5em;
}
h4 {
  color: #b17a46; /* darker orange */
  margin-top: 1em;
  margin-bottom: 0.5em;
}
h4+p {
  margin-top: 0.5em;
}

/*a.poem-link {
  text-decoration: underline;
}*/
ul.extra-links-list {
  font-weight: bold;
}
