* {
  box-sizing: border-box;
}
html,body,div {
  display: block;
  margin: 0;
}

.content-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 980px;
}

@media screen and (max-width:980px) {
  .content-wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}
